services:
  mysql:
    image: mysql:latest
    restart: always
    container_name: mysql_DB
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - ./mysql:/var/lib/mysql
    ports:
      - 3306:3306
    healthcheck:
      test: ["CMD", "mysqladmin", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - gsysnet

networks:
  gsysnet:
    driver: bridge

volumes:
  mysql:
    external: false
